 
input[type="checkbox"]{
    -webkit-appearance:none; 
    appearance:none; 
    cursor: pointer;
    outline: none;
  }
  .checkbox{
    margin-right:10px ;
    height: 25px;
    width: 55px;
    background-color: #20c4d5;
    border-radius: 45px;
  }
  .checkbox:before{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    background-color:#20c4d5;
    border-radius: 50%;
    top: 8.25px;
    left: 9px;
    box-shadow: 7.5px 0 0 #20c4d5,
    4px 2.5px 0 8px white;  
    transition: 0.3s;
  }
  .checkbox:after{
    content: "";
    position: absolute;
    height: 5px;
    width: 10px;
    background-color: #20c4d5;
    border-radius: 25px 25px 0 0;
    top: 15px;
    left: 10px;
    transition: 0.3s;
  }
  .checkbox:checked{
    background-color:#1A73E8; 
  }
  .checkbox:checked:before{
    left: 30px;
    background-color:#1A73E8;
    box-shadow: 7.5px 0 0 #1A73E8,
      4px 2.5px 0 8px white; 
  }
  .checkbox:checked:after{
    left: 31px;
    border-radius:0 0 25px 25px;
    background-color:#1A73E8; 
  } 