.go .string {
  border: 1px solid #ccc;
  position: relative;
  margin: 10px;
}

.go input {
  width: 100%;
  background: transparent;
  border: 0;
  padding: 0 0 20px;
  top: 0;
  z-index: 100;
  left: 0;
}
.go label {
  transition: 0.1s, color 0.5s, top 2s, bottom 0.6s, right 0.3s, left 0.1s;
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: -10;
}
.go input:focus {
  border: 0;
  outline: 0;
}

.go input:focus + label {
  width: 100%;
  font-size: 80%;
  left: 0;
  top: 0;
  background: #ccc;
}
