.sidebarWrapper {
    width: 250px; 
    box-shadow: 0rem 1.25rem 1.6875rem 0rem rgba(0, 0, 0, 0.05);
    background: linear-gradient(195deg, #42424a, #191919);
    
  border-radius: 12px; 
  }
  .sidebarItem:hover{
   background-color: rgba(255, 255, 255, 0.2)
  }