.p20{
  padding: 20px;
}.p30{
  padding: 30px;
}
.flexEnd{
  justify-content: flex-end;
}
.size32{
  font-size: 32px;
  line-height: 32px; 
}
.between{
  justify-content: space-between;
}
.m5{
margin: 5px;
}
.rotate90{ 
  transform: rotate(90deg)
}
.rotate270{
  transform: rotate(270deg);
}
.m15{
margin: 15px;
}
.alignCenter{
  align-items: center;
}
.flex{
  display: flex;
}
.column{
flex-direction: column;
}
.relative{
  position: relative ;
}
.p10{
  padding: 10px;
}
.p15{
  padding: 15px;
}
.p25{
  padding: 25px;
}
.mtminus30{
margin-top: -30px;
}
.bgBlue{
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
}
.colorBlue{
  color:#1A73E8;
}
.bgWhite{
  background-color: #ffffff;
}
.colorWhite{
  color: #ffffff;
}
.br075rem{ 
  border-radius: 0.75rem;
}
.size40{
 width: 40px;
 height: 40px;
}

.br0375rem{ 
border-radius: 0.375rem;
}
.br50{
  border-radius: 50%;
}
.fixed{
  position: fixed;
}
.sidebarHeight{
height: calc(100vh - 32px);
}
.overflowXhidden{
   overflow-x: hidden;
}
.borderGrey{
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.justifyCenter{
  justify-content: center;
}
.colorGrey{
  color:  #7b809a;
}
.topminus80{
top:-80px;
}
.width90{
  width: 90%;
}
.colorDark{
color: #333;
}
.width340{
width: min(340px, calc(100vw - 30px));
}
.positionAbsolute{
  position: absolute;
}
.my20{
  margin: 20px 0 ;
}
.scale1_5{
transform: scale(1.5);
}
.m5first{
  margin: 5px 5px 5px 0;
}
.py10{
  padding: 0 10px;
}
.my10{
  margin: 10px 0 ;
}
.pt75{
  padding-top: 75px;
}
.myMinus25{
  margin-left:-10px ;
  margin-right:-10px ;
}
.width100{
  width: 100%;
}
.right0{
  right: 0;
}
.scrollbar { 
	overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
	width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
 	border-radius: 15px;
}
.scrollbar::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 12px;
}
.topAndRight0{
  top:0;
  right: 0;
}
.active{
background-image: var(--background)
}