.p20 {
  padding: 20px;
}

.w110ml-5 {
  width: 110%;
  margin-left: -5%;
}

.p30 {
  padding: 30px;
}

.p3 {
  padding: 3px;
}

.py10 {
  padding: 0 10px;
} 
.my10 {
  margin: 10px 0;
}

.my20 {
  margin: 20px 0;
}
.ml15px{
  margin-left: 15px;
}
.pt75 {
  padding-top: 75px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p25 {
  padding: 25px;
}

.mXauto {
  margin: 0 auto;
}

.mt40m5 {
  margin: 40px 5px 5px;
}

.left0 {
  left: 0;
}

.top15 {
  top: 15px;
}

.px15 {
  padding: 0 15px;
}

.m5first {
  margin: 5px 5px 5px 0;
}

.m5 {
  margin: 5px;
}

.m15 {
  margin: 15px;
}
.flex .mt85m5{
  margin: 85px 5px 5px;
}
.translateY30px {
  transform: translateY(-70px);
}
.flex .mtminus100{
  margin-top: -100px;
}
.mtminus40 {
  margin-top: -40px;
}

.margin0 {
  margin: 0;
}

.height150 {
  height: 150px;
}

.flexEnd {
  justify-content: flex-end;
}

.size32 {
  font-size: 32px;
  line-height: 32px;
}

.between {
  justify-content: space-between;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.alignCenter {
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.colorBlue {
  color: #1a73e8;
}

.colorWhite {
  color: #ffffff;
}

.br075rem {
  border-radius: 0.75rem;
}

.w80h80 {
  width: 80px;
  height: 80px;
}

.size40 {
  width: 40px;
  height: 40px;
}

.lMinus280px {
  left: -280px;
}

.ml280px {
  margin-left: 280px;
}

.mrMinus350px {
  margin-right: -350px;
}

.br0375rem {
  border-radius: 0.375rem;
}

.br50 {
  border-radius: 50%;
}

.fixed {
  position: fixed;
}

.sidebarHeight {
  height: calc(100vh - 32px);
}

.overflowXhidden {
  overflow-x: hidden;
}

.borderGrey {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.justifyCenter {
  justify-content: center;
}

.colorGrey {
  color: #7b809a;
}

.w90mxauto {
  margin: 0 auto;
  width: 90%;
}

.colorDark {
  color: #333;
}

.width340 {
  width: min(340px, calc(100vw - 30px));
}

.zind-5 {
  z-index: -5;
}

.zind10 {
  z-index: 10;
}

.zind15 {
  z-index: 15;
}

.zind20 {
  z-index: 20;
}

.zind25 {
  z-index: 25;
}

.positionAbsolute {
  position: absolute;
}

.minWidth {
  width: min-content;
}

.scale1_5 {
  transform: scale(1.5);
}

.mtminus90 {
  margin-top: -90px;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.width250 {
  width: 250px;
}

.right0 {
  right: 0;
}

.scrollbar {
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 15px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 12px;
}

.clossButton {
  top: 0;
  right: 0;
}

.sidebarActive a {
  color: white;
}

.active {
  background: var(--title-background-global);
}

.customInput {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}

i {
  margin: 10px 10px 0 10px;
  cursor: pointer;
  font-family: FontAwesome;
}

.sidebarBackground i {
  font-size: 25px;
} 
.navHeader i,
.header i {
  font-size: 35px;
}

.settings:before {
  content: "\f013";
}

.notification:before {
  content: "\f0f3";
}

.account:before {
  content: "\f007";
}

.menu-active:before {
  content: "\f039";
}

.menu-close:before {
  content: "\f038";
}

.subMenuOpen:before {
  content: "\f107";
}

.calendar::before {
  content: "\f073";
}

.subMenuClose:before {
  content: "\f106";
}

.close::before {
  content: "\f00d";
}

.folder::before {
  content: "\f07b";
}

.chart::before {
  content: "\f080";
}

.building::before {
  content: "\f0f7";
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3%;
}

.profileBackground {
  background-image: url(/src/assets/img/backgrounds/sidebarImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flexMedia500 {
  display: flex;
}

@media screen and (max-width: 1400px) {
  .col-md-6 {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .flexMedia500 {
    flex-direction: column;
  }

  .col-sm-12 {
    width: 100%;
  }
}

.contentWrapper {
  max-width: 1700px;
  width: calc(100% - 280px);
}
@media screen and (max-width: 1100px) {
  .contentWrapper {
    width: 100%;
  }
}



#gantt {
  height: 700px;
}

 