:root {
  --title-background-global: linear-gradient(
    195deg,
    rgb(73, 163, 241),
    rgb(26, 115, 232)
  );
  --sidebar-background-color-global: rgb(255, 255, 255);
  --theme-body-global: rgb(240, 242, 245);
  --text-color-global: rgb(52, 71, 103);
  --sidebar-text-color-global: rgb(52, 71, 103);
  --section-background-color: rgb(255, 255, 255);
  --header-background-color-global: hsla(0, 0%, 100%, 0.8);
}

[data-theme="dark"] {
  --theme-body-global: rgb(26, 32, 53);
  --text-color-global: rgb(255, 255, 255);
  --header-background-color-global: rgba(13, 15, 32, 0.7);
  --section-background-color: rgb(32, 41, 64);
}
[data-menuTheme="dark"] {
  --sidebar-text-color-global: rgb(255, 255, 255);
  --sidebar-background-color-global: rgb(32, 41, 64);
}

.whiteText span {
  color: #ffffff;
}

.headerBacground {
  background-color: var(--header-background-color-global);
  box-shadow: rgba(52, 71, 103, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset,
    rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  /* backdrop-filter: saturate(200%) blur(1.875rem);  */
}

.tabBackground {
  background: var(--section-background-color);
}
.sidebarTextColor * {
  color: var(--sidebar-text-color-global);
}
.section {
  background: var(--section-background-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  border-radius: 0.75rem;
  position: relative;
}



.color1 {
  background-image: linear-gradient(
    195deg,
    rgb(236, 64, 122),
    rgb(216, 27, 96)
  );
}

.color2 {
  background-image: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
}

.color3 {
  background-image: linear-gradient(
    195deg,
    rgb(73, 163, 241),
    rgb(26, 115, 232)
  );
}

.color4 {
  background-image: linear-gradient(
    195deg,
    rgb(102, 187, 106),
    rgb(67, 160, 71)
  );
}

.color5 {
  background-image: linear-gradient(
    195deg,
    rgb(255, 167, 38),
    rgb(251, 140, 0)
  );
}

.color6 {
  background-image: linear-gradient(195deg, rgb(239, 83, 80), rgb(229, 57, 53));
}

.sidebarBackground {
  background-color: var(--sidebar-background-color-global);
}

.title {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 700;
  letter-spacing: 0.0075em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--title-background-global);
}

.boxShedow_dark {
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.625rem 0.9375rem -0.1875rem,
    rgba(0, 0, 0, 0.05) 0rem 0.25rem 0.375rem -0.125rem;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--text-color-global);
  background: var(--theme-body-global);
}

svg text {
  fill: #ffffff !important;
}

.dxc-legend {
  display: none;
}

#chart {
  width: min-content;
}

#chart svg {
  height: 170px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* font-family: 'TT Norms'; */
}

#root,
body,
html {
  width: 100%;
}

body,
html {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.375;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

hr {
  border: 0;
  height: 2px;
}

.darkHr {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
}

.lightHr {
  background-image: linear-gradient(
    to right,
    rgba(52, 71, 103, 0),
    rgba(52, 71, 103, 0.4),
    rgba(52, 71, 103, 0)
  ) !important;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.375;
  font-weight: 700;
  letter-spacing: 0em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.01071em;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
}

h6 {
  margin: 0px;
  font-size: 1rem;
  line-height: 3;
  font-weight: 700;
  letter-spacing: 0.0075em;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
}

.bgDark {
  background-image: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
}

.colorLight {
  color: rgb(255, 255, 255);
}

.menuListItem.active {
  color: #ffffff;
}




.text-blue{
  color: #234ba6;
}
.text-blue-50 {
  color: #e5e9f4;
}
.text-blue-100 {
  color: #bdc9e4;
}
.text-blue-200 {
  color: #91a5d3;
}
.text-blue-300 {
  color: #6581c1;
}
.text-blue-400 {
  color: #4466b3;
}
.text-blue-500 {
  color: #234ba6;
}
.text-blue-600 {
  color: #1f449e;
}
.text-blue-700 {
  color: #1a3b95;
}
.text-blue-800 {
  color: #15338b;
}
.text-blue-900 {
  color: #0c237b;
}
.text-blue-A100 {
  color: #acbaff;
}
.text-blue-A200 {
  color: #7990ff;
}
.text-blue-A400 {
  color: #4666ff;
}
.text-blue-A700 {
  color: #2c51ff;
}




.bg-blue{
  background-color: #234ba6;
}
.bg-blue-50 {
  background-color: #e5e9f4;
}
.bg-blue-100 {
  background-color: #bdc9e4;
}
.bg-blue-200 {
  background-color: #91a5d3;
}
.bg-blue-300 {
  background-color: #6581c1;
}
.bg-blue-400 {
  background-color: #4466b3;
}
.bg-blue-500 {
  background-color: #234ba6;
}
.bg-blue-600 {
  background-color: #1f449e;
}
.bg-blue-700 {
  background-color: #1a3b95;
}
.bg-blue-800 {
  background-color: #15338b;
}
.bg-blue-900 {
  background-color: #0c237b;
}
.bg-blue-A100 {
  background-color: #acbaff;
}
.bg-blue-A200 {
  background-color: #7990ff;
}
.bg-blue-A400 {
  background-color: #4666ff;
}
.bg-blue-A700 {
  background-color: #2c51ff;
}








.bg-red-50 {
  background-color: #ffeaea;
}
.bg-red-100 {
  background-color: #ffcaca;
}
.bg-red-200 {
  background-color: #ffa7a7;
}
.bg-red-300 {
  background-color: #ff8484;
}
.bg-red-400 {
  background-color: #ff6969;
}
.bg-red-500 {
  background-color: #ff4f4f;
}
.bg-red-600 {
  background-color: #ff4848;
}
.bg-red-700 {
  background-color: #ff3f3f;
}
.bg-red-800 {
  background-color: #ff3636;
}
.bg-red-900 {
  background-color: #ff2626;
}
.bg-red-A100 {
  background-color: #ffffff;
}
.bg-red-A200 {
  background-color: #ffffff;
}
.bg-red-A400 {
  background-color: #ffd4d4;
}
.bg-red-A700 {
  background-color: #ffbaba;
}












.text-red-50 {
  color: #ffeaea;
}
.text-red-100 {
  color: #ffcaca;
}
.text-red-200 {
  color: #ffa7a7;
}
.text-red-300 {
  color: #ff8484;
}
.text-red-400 {
  color: #ff6969;
}
.text-red-500 {
  color: #ff4f4f;
}
.text-red-600 {
  color: #ff4848;
}
.text-red-700 {
  color: #ff3f3f;
}
.text-red-800 {
  color: #ff3636;
}
.text-red-900 {
  color: #ff2626;
}
.text-red-A100 {
  color: #ffffff;
}
.text-red-A200 {
  color: #ffffff;
}
.text-red-A400 {
  color: #ffd4d4;
}
.text-red-A700 {
  color: #ffbaba;
}




.bg-green-50{
  background-color:#e3f6e8;
}
.bg-green-100{
  background-color:#b9e8c6;
}
.bg-green-200{
  background-color:#8ad9a0;
}
.bg-green-300{
  background-color:#5bca7a;
}
.bg-green-400{
  background-color:#37be5e;
}
.bg-green-500{
  background-color:#14b341;
}
.bg-green-600{
  background-color:#12ac3b;
}
.bg-green-700{
  background-color:#0ea332;
}
.bg-green-800{
  background-color:#0b9a2a;
}
.bg-green-900{
  background-color:#068b1c;
}
.bg-green-A100{
  background-color:#b8ffc0;
}
.bg-green-A200{
  background-color:#85ff93;
}
.bg-green-A400{
  background-color:#52ff66;
}
.bg-green-A700{
  background-color:#38ff50;
}





.text-green-50{
  color:#e3f6e8
}
.text-green-100{
  color:#b9e8c6
}
.text-green-200{
  color:#8ad9a0
}
.text-green-300{
  color:#5bca7a
}
.text-green-400{
  color:#37be5e
}
.text-green-500{
  color:#14b341
}
.text-green-600{
  color:#12ac3b
}
.text-green-700{
  color:#0ea332
}
.text-green-800{
  color:#0b9a2a
}
.text-green-900{
  color:#068b1c
}
.text-green-A100{
  color:#b8ffc0
}
.text-green-A200{
  color:#85ff93
}
.text-green-A400{
  color:#52ff66
}
.text-green-A700{
  color:#38ff50
}



.text-yellow-50{
  color: #fffbed
}
.text-yellow-100{
  color: #fff5d2
}
.text-yellow-200{
  color: #ffefb4
}
.text-yellow-300{
  color: #ffe996
}
.text-yellow-400{
  color: #ffe480
}
.text-yellow-500{
  color: #ffdf69
}
.text-yellow-600{
  color: #ffdb61
}
.text-yellow-700{
  color: #ffd756
}
.text-yellow-800{
  color: #ffd24c
}
.text-yellow-900{
  color: #ffca3b
}
.text-yellow-A100{
  color: #ffffff
}
.text-yellow-A200{
  color: #ffffff
}
.text-yellow-A400{
  color: #fff7e4
}
.text-yellow-A700{
  color: #fff0ca
}




.bg-yellow-50{
  background-color: #fffbed;
}
.bg-yellow-100{
  background-color: #fff5d2;
}
.bg-yellow-200{
  background-color: #ffefb4;
}
.bg-yellow-300{
  background-color: #ffe996;
}
.bg-yellow-400{
  background-color: #ffe480;
}
.bg-yellow-500{
  background-color: #ffdf69;
}
.bg-yellow-600{
  background-color: #ffdb61;
}
.bg-yellow-700{
  background-color: #ffd756;
}
.bg-yellow-800{
  background-color: #ffd24c;
}
.bg-yellow-900{
  background-color: #ffca3b;
}
.bg-yellow-A100{
  background-color: #ffffff;
}
.bg-yellow-A200{
  background-color: #ffffff;
}
.bg-yellow-A400{
  background-color: #fff7e4;
}
.bg-yellow-A700{
  background-color: #fff0ca;
}








.text-grey-50{
 color: #f5f6f7;
}
.text-grey-100{
 color: #e6e9eb;
}
.text-grey-200{
 color: #d6dade;
}
.text-grey-300{
 color: #c6cbd1;
}
.text-grey-400{
 color: #b9c0c7;
}
.text-grey-500{
 color: #adb5bd;
}
.text-grey-600{
 color: #a6aeb7;
}
.text-grey-700{
 color: #9ca5ae;
}
.text-grey-800{
 color: #939da6;
}
.text-grey-900{
 color: #838d98;
}
.text-grey-A100{
 color: #ffffff;
}
.text-grey-A200{
 color: #f5f9fe;
}
.text-grey-A400{
 color: #c1dfff;
}
.text-grey-A700{
 color: #a7d1ff;
}



.bg-grey-50{
background-color: #f5f6f7;
 }
 .bg-grey-100{
  background-color: #e6e9eb;
 }
 .bg-grey-200{
  background-color: #d6dade;
 }
 .bg-grey-300{
  background-color: #c6cbd1;
 }
 .bg-grey-400{
  background-color: #b9c0c7;
 }
 .bg-grey-500{
  background-color: #adb5bd;
 }
 .bg-grey-600{
  background-color: #a6aeb7;
 }
 .bg-grey-700{
  background-color: #9ca5ae;
 }
 .bg-grey-800{
  background-color: #939da6;
 }
 .bg-grey-900{
  background-color: #838d98;
 }
 .bg-grey-A100{
  background-color: #ffffff;
 }
 .bg-grey-A200{
  background-color: #f5f9fe;
 }
 .bg-grey-A400{
  background-color: #c1dfff;
 }
 .bg-grey-A700{
  background-color: #a7d1ff;
 }