.text {
  padding: 10px;
  width: 100%;
  font-size: 17px; 
  border: 1px solid #aaaaaa;
}

.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.finish {
  background-color: #4caf50;
}
