.radio-1:checked~.glider {
  transform: translateX(0);
}

.radio-2:checked~.glider {
  transform: translateX(100%);
}

.radio-3:checked~.glider {
  transform: translateX(200%);
}.radio-4:checked~.glider {
  transform: translateX(300%);
}.radio-5:checked~.glider {
  transform: translateX(400%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 32%;
  background-color: grey;
  z-index: 1;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 900px) {
  .radio-1:checked~.glider {
    transform: translateY(0);
  }

  .radio-2:checked~.glider {
    transform: translateY(100%);
  }

  .radio-3:checked~.glider {
    transform: translateY(200%);
  }

  .radio-4:checked~.glider {
    transform: translateY(300%);
  }

  .radio-5:checked~.glider {
    transform: translateY(400%);
  }

  .glider {
    width: calc(100% - 2rem);
  }
}